@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
height: 100vh;
width: 100%;
display: flex;
align-items: center;
flex-direction: column;
padding-top: 120px;
background-image: linear-gradient(120deg, #fdfbfb 0%, #ffffff 100%);
}
.heading{
font-size: 20px;
}
.container{
height: 300px;
width: 800px;
display: flex;
justify-content: space-around;
align-items: center;
}

.left,.right{
width: 1200px;
}

.result{
box-sizing: border-box;
width: 800px;
padding-left: 30px;
}
button{
width: 400px;
height: 40px;
font-weight: bold;
font-size: 20px;
border: 2px solid rgb(187, 21, 132);
background-color: rgb(226, 109, 197);
border-radius: 2em;
cursor: pointer;
}
button{
color: rgb(255, 255, 255);
}
p{
font-size: 30px;
}

input {
    height: 100px;
    width: 100%;
    outline: none;
    font-size: 52px;
    font-weight: 200;
    text-indent: 50px;
    margin-bottom: 20px;
    color: rgba(0,0,0,.6);
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 200, 200);
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}